/*-------------------------Diseño Responsivo------------------------------*/
/*------------------------------------------------------------------------*/

@media screen and (max-width: 780px) {

    /*---------------Seccion 1-----------*/
    .dForm {
        width: 100%;
    }
    .formHome {
       position: relative;
       min-width: 650px;

   }
   }